[submodule "backend/Technical-Indicators"]
	path = backend/Technical-Indicators
	url = https://github.com/fintech-studio/technical-indicators
	branch = main
[submodule "backend/Fundamental"]
	path = backend/Fundamental
	url = https://github.com/fintech-studio/fundamental
	branch = main
[submodule "backend/Psychology"]
	path = backend/Psychology
	url = https://github.com/fintech-studio/psychology
