[submodule "public/python-app/Technical-Indicators"]
	path = public/python-app/Technical-Indicators
	url = https://github.com/fintech-studio/technical-indicators
	branch = main
[submodule "public/python-app/Fundamental"]
	path = public/python-app/Fundamental
	url = https://github.com/fintech-studio/fundamental
	branch = main
[submodule "public/python-app/Backtesting"]
	path = public/python-app/Backtesting
	url = https://github.com/fintech-studio/backtesting
	branch = main
